@model To_do_list_NET_Club.Models.NoteModel

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" href="/lib/fonts/cccc.css">
       <link rel="stylesheet" href="/lib/fonts/script.js">
</head>
<body>

<h1>Edit Note</h1>



<div class="row">
    <div class="col-md-4">
        <fieldset>
        <form asp-action="Edit">

            <div class="form-group">
                <label asp-for="Head" class="control-label"></label>
                <input asp-for="Head" class="form-control" />
                <span asp-validation-for="@Model.Head" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainText" class="control-label"></label>
                <textarea asp-for="MainText" class="form-control" cols="40" rows="3"></textarea>
                <span asp-validation-for="@Model.MainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status.Name" class="control-label"></label>
                <select asp-for="Status.Id" asp-items="ViewBag.Status" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-hover" />
                <a asp-action="Index" class="btn-hover">Cancel</a>
            </div>
        </form>
        </fieldset>
        <div class="image">
        <img src="~/lib/Images/nordwood-themes-ivP3TYdLvw0-unsplash.jpg" />
        </div>
    </div>
</div>
</body>
</html>